body{
    font-family: 'Ubuntu', sans-serif;
}
h2{
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}
h1{
    font-size: 50px;
}
p{
    font-size: 18px;
    font-weight: 200;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    color: rgb(54, 52, 34);
    padding-left: 8%;
}
.half-width img{
    width: 85%;
}
.btn{
    border-radius: 35px;
    color: darkgrey;
    padding: 16px 32px;
    font-size: 15px;
    margin: 4px 2px;
   background-color: crimson;
}
.section-title{
    text-align: center;
    color: rgb(63, 53, 53);
    font-size: 30px;
    padding-top: 10%;
}
/*---collections styles----*/

.collections{
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-left: 12%;
    
    }
.collection{
    padding-bottom: 20px;    
        box-shadow: 5px 5px 15px gainsboro;
    
}
.currency-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
    color: rgb(100, 72, 72);
}
.fa-star{
    font-size: 10px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.more-item{
    text-align: center;
    font-size: 15px;
    color: rgb(161, 18, 61);
}
.navyblue{
    font-size: 30px;
    color: rgb(7, 7, 167);
}
.final-section{
    display: flex;
    padding-top: 10%;
    padding-left:10%;
    padding-right: 15%;
}
.btn1{
    color: darkgrey;
    padding: 16px 32px;
    font-size: 15px;
    margin: 4px 2px;
   background-color: rgb(119, 9, 23);
}
footer{
    text-align: center;
    color: white;
    height: 250px;
    margin: 25px auto;
    background-color: rgb(13, 13, 128);
}

/*------- Media Queries -------*/

/*------mobile devices------*/
@media only screen and(max-width:688px) {
    .container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
}

/*------Tablet devices------*/
@media only screen and(min-width:688px) and(max-width:992px) {
.container{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}
}
